* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(204, 202, 202);
  font-size: 16px;
  font-family: "Arial"
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 5%;
  background: #fff;
  border-radius: 10px;
}

.Header,
.Detail,
.Footer {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.Header {
  background: greenyellow;
}

.Detail {
  background: orange;
}

.Footer {
  background: skyblue;
}
